@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    @apply bg-white text-slate-900 antialiased;
  }

  #root {
    min-height: 100vh;
  }
}
